<div class = "network col-sm-6 col-md-4 col-lg-3" style = "background-color: {{attr.color}}">
    <img src = {{attr.logo}}>
    <div id = "loaderContainer">
        <div class = "loader"></div>
    </div>
    <div id = "input">
        <h4>{{attr.name}}</h4>
        {{input value=firstName key-press = "keyPressed"}}
    </div>
</div>
{{yield}}
